# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependencies for now
Gopkg.*
vendor

# Secrets
secret.txt
*.pem

# Binary
github-reminder
