language: go

go:
  - 1.8
  - 1.9
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

sudo: required

services:
  - docker

install:
  - make dependencies

script:
  - make test-coverage

before_deploy:
  - make packages

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN 
  file_glob: true
  file: build/*.tar.gz
  skip_cleanup: true
  on:
    tags: true

after_deploy:
  - make docker-push